*.tgz filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.txt.gz filter=lfs diff=lfs merge=lfs -text
*.tsv.gz filter=lfs diff=lfs merge=lfs -text
*.csv.gz filter=lfs diff=lfs merge=lfs -text
*.prn.gz filter=lfs diff=lfs merge=lfs -text
